header{
    background-color: midnightblue;
    color: white;
    text-align: center;
}

main{
    background-color: lightgray;
}

body{
    background-image: url("record.png");
    background-repeat: repeat;
}